<html>
    <head>
        <title>AstroStock</title>
        <meta charset="utf-8">
        <link href="style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Getting Bootstrap Library-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

        <!-- All Javascript -->
        <script>

            //Creating a request variable//
            var request = new XMLHttpRequest()

            // Opens a connection to API//
            request.open('GET', 'API URL here')

            //Getting json data//
            request.onload = function() {
                var data = JSON.parse(this.response)

                if (request.status >= 200 && request.status < 400) {
                    data.forEach((sign) => {
                        console.log(sign)
                    })
                        
                } else {
                    console.log('error')
                }
            }
            //sending request//
            request.send()




        </script>
        <div class="wrapper">
            <header>
                <h1>AstroStock</h1>
            </header>
            <nav>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators for which button is showing -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                        <li data-target="#myCarousel" data-slide-to="6"></li>
                        <li data-target="#myCarousel" data-slide-to="7"></li>
                        <li data-target="#myCarousel" data-slide-to="8"></li>
                        <li data-target="#myCarousel" data-slide-to="9"></li>
                        <li data-target="#myCarousel" data-slide-to="10"></li>
                        <li data-target="#myCarousel" data-slide-to="11"></li>
                        <li data-target="#myCarousel" data-slide-to="12"></li>
                    </ol>
                    <!--Items showing in the carousel-->
                    <div class="carousel-inner">
                        <div id="aqua" class="item active">
                            <button id="post" value="aquarius">
                                <img src="images/aquarius.PNG" alt="aquarius" width="60%">
                            </button>
                            <div id="card" class="item">
                                <h3>Aquarius</h3>
                            </div>
                        </div>
                        <div id="aries" class="item">
                            <button id="post" value="aries">
                                <img src="images/aries.PNG" alt="aries" width="60%">
                            </button>
                            <div id="card">
                                <h3>Aries</h3>
                            </div>
                        </div>
                        
                        <div id="cancer" class="item">
                            <button id="post" value="cancer">
                                <img src="images/cancer.PNG" alt="cancer" width="60%">
                            </button>
                            <div id="card">
                                <h3>Cancer</h3>
                            </div>
                        </div>
                    
                        <div id="capricorn" class="item">
                            <button id="post" value="capricorn">
                                <img src="images/capricorn.PNG" alt="capricorn" width="60%">
                            </button>
                            <div id="card">
                                <h3>Capricorn</h3>
                            </div>
                        </div>
                        
                        
                        <div id="gemini" class="item">
                            <button id="post" value="gemini">
                                <img src="images/gemini.PNG" alt="gemini" width="60%">
                            </button>
                            <div id="card">
                                <h3>Gemini</h3>
                            </div>
                        </div>
                        
                        <div id="leo" class="item">
                            <button id="post" value="leo">
                                <img src="images/leo.PNG" alt="Leo" width="60%">
                            </button>
                            <div id="card">
                                <h3>Leo</h3>
                            </div>
                        </div>
                        
                        <div id="libra" class="item">
                            <button id="post" value="libra">
                                <img src="images/libra.PNG" alt="libra" width="60%">
                            </button>
                            <div id="card">
                                <h3>Libra</h3>
                            </div>
                        </div>
                        
                        <div id="pisces" class="item">
                            <button id="post" value="pisces">
                                <img src="images/pisces.PNG" alt="pisces" width="60%">
                            </button>
                            <div id="card">
                                <h3>Pisces</h3>
                            </div>
                        </div>
                        
                        <div id="sagittarius" class="item">
                            <button id="post" value="sagittarius">
                                <img src="images/sagittarius.PNG" alt="sagittarius" width="60%">
                            </button>
                            <div id="card">
                                <h3>Sagittarius</h3>
                            </div>
                        </div>
                        
                        <div id="scorpio" class="item">
                            <button id="post" value="scorpio">
                                <img src="images/scorpio.PNG" alt="scorpio" width="60%">
                            </button>
                            <div id="card">
                                <h3>Scorpio</h3>
                            </div>
                        </div>
                        
                        <div id="taurus" class="item">
                            <button id="post" value="taurus">
                                <img src="images/taurus.PNG" alt="taurus" width="60%">
                            </button>
                            <div id="card">
                                <h3>Taurus</h3>
                            </div>
                        </div>
                        
                        <div id="virgo" class="item">
                            <button id="post" value="virgo">
                                <img src="images/virgo.PNG" alt="virgo" width="60%">
                            </button>
                            <div id="card">
                                <h3>Virgo</h3>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </nav>
            <!--The main section where info is showing-->
            <main>
                <section id="quote">
                    <p>
                        Här kommer dagens citat
                    </p>
                </section>
                <section id="container1" class="stockbox">
                    <h3>
                        Dagens Tips:
                    </h3>
                    <p>
                        Här kommer en ruta med aktier vara
                    </p>
                </section>
                <section id="container2" class="stockbox">
                    <h3>
                        Dagens Vinnare:
                    </h3>
                    <p>
                        Här kommer en annan ruta med dagens tips vara
                    </p>
                </section>
            </main>
            <footer>

            </footer>
        </div> 
    </body>
</html>