body{
    margin: 0px 0px 0px 0px;
}

.wrapper{
    display: grid inline;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    

}

header{
    background-color: black;
    text-align: center;
    height: 6em;
    
}

header > h1{
    color: whitesmoke;
    padding-top: 1%;
    font-size: 60px;
}


/* CSS for everything in the nav */

nav{
    background-color: #404040;
    
}

.carousel-inner > * {
    padding-top: 20px;
    width: 25%;
    display: inline-block;
    margin-left: 42%;
    align-items: center;
    height: 35%;
    
}

.carousel-inner > .item > a > img{
    border-radius: 100%;
    
}

.carousel-inner > .item > #card {
   margin-left: 20%; 
}