body{
    margin: 0px 0px 0px 0px;
    font-family: 'Baloo Chettan 2', cursive;
}

.wrapper{
    display: grid inline;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    

}

header{
    background-color: black;
    text-align: center;
    height: 6em;
    
}

header > h1{
    color: whitesmoke;
    padding-top: 1%;
    font-size: 60px;
}


/* CSS for everything in the nav */

nav{
    background-color: #404040;
    
}

.carousel-inner > * {
    padding-top: 20px;
    width: 25%;
    display: inline-block;
    margin-left: 42%;
    align-items: center;
    height: 35%;
    
}

.carousel-inner > .item{

    margin: auto;
    
    
}


.carousel-inner > .item > a > img{
    margin: auto;
    max-width: 150px;
    max-height: 200px;
    
    /*
    background-image: url("Images/stars.jpg_fit=scale");
    */
    
}

.carousel-inner > .item > #card {
   margin: auto;
}

.carousel-inner > .item > #card > h3{

    text-align: center;
    color: whitesmoke;
}