body{
    margin: 0px 0px 0px 0px;
    font-family: 'Baloo Chettan 2', cursive;
}

/* Creating the grid layout */
.wrapper{
    display: grid inline;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    

}
 /* CSS for everything in the <header> area */
header{
    background-color: black;
    text-align: center;
    height: 6em;
    
}

header > h1{
    color: whitesmoke;
    padding-top: 1%;
    font-size: 60px;
    margin-top: 0px;
}


/* CSS for everything in the <nav> area*/

nav{
    background-color: #404040;
    
}

.carousel-inner > * {
    padding-top: 20px;
    width: 25%;
    display: inline-block;
    margin: auto;
    align-items: center;
    height: 38%;
    
}

.carousel-inner > .item{

    margin: auto;
    
    
}

.carousel-inner > .item > #post{
    background-color: #404040;
    margin: auto;
    border: none;
    max-height: 300px;
    max-width: 400px;
    
   
   /* border-radius: 60%;
    box-shadow: 5px 5px 5px black;
    */
}

.carousel-inner > .item > img{
    display: inline;
    margin: auto;
    max-width: auto;
    max-height: auto;
    padding: 0px;;
    
    /*
    background-image: url("Images/stars.jpg_fit=scale");
    */
    
}

.carousel-inner > .item > #card {
   margin: auto;
}

.carousel-inner > .item > #card > h3{

    text-align: center;
    color: whitesmoke;
}

/* CSS for the <main> area */

main{
    background-color: #828282;
}

/* CSS for the search bar and button */
#searchbar{

    margin-left: 43%;
    padding-top: 20px;
    
}

#searchbar > *{
    padding-left: 3px;
    padding-right: 3px;
}

#searchbar > #search{
    border-radius: 5px;
    background-color: #3399ff;
    font-weight: bolder;
}

#searchbar > #bar{
    
    border-radius: 5px;

}

/*  End of CSS for the search bar and button */

/* CSS for the boxes in the main section */

#quote{
    text-align: center;
    padding-top: 5px;
}

.stockbox{
    display: block;
    margin-left: 38%;
    border-style: solid;
    max-width: 25%;
    
}

#stockhead{
    max-height: 55px;
    display: block;
    text-align: center;
    
}

main > .stockbox > #stockhead > h3{
    display: block;
    border-bottom: solid;
    border-right: solid;
    border-bottom-right-radius: 5px;
    background-color: #3399ff;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 0px;
    padding: 0px 5px 3px 10px; 
    
}

#container1{

    
    text-align: center;
}

#container1 > ul{

    list-style: none;
}

#container2{

    margin-top: 5%;
}

/* End of CSS for the boxes in the main section */
